@if(!showAddResolver){
<form [formGroup]="conditionForm">
  <mat-form-field class="w-full">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" placeholder="name" />
    @if (conditionForm.get('name')?.hasError('required')) {
    <mat-error>name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>افزودن Resolver</mat-label>
    <mat-select formControlName="conditionResolverType">
      @for (item of ConditionResolverTypes; track item) {
      <mat-option [value]="item.value">{{ item.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
} @else {
<app-add-resolver
  [conditionValue]="conditionValue"
  (addResolver)="addResolver($event)"
>
</app-add-resolver>
}
