.resolver-list {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow: auto;
  padding: 12px 0;

  .resolver-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 8px;
    border-radius: 10px;
    margin: 8px 0;
    span {
      font-weight: bold;
    }
  }
}

.expected-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
}

.expected-list li::after {
  margin-left: 8px;
}
