@if(!showAddResolver){
<form [formGroup]="conditionForm">
  <mat-form-field class="w-full">
    <mat-label>نام</mat-label>
    <input type="text" matInput formControlName="name" placeholder="نام" />
    @if (conditionForm.get('name')?.hasError('required')) {
    <mat-error> وارد کردن نام الزامی است</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>افزودن Resolver</mat-label>
    <mat-select formControlName="conditionResolverType">
      @for (item of ConditionResolverTypes; track item) {
      <mat-option [value]="item.value">{{ item.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
@if (resolvers.length > 0) {
<div class="resolver-list">
  @for (item of resolvers; track $index) {
  <div class="resolver-item">
    <div class="resolver-info">
      <div>
        نام: <span>{{ item.statusName }}</span>
      </div>
      <div>
        نوع: <span>{{ convertType(item.type!) }}</span>
      </div>
      @if (item.expectedIncomingHttpResponseStatuses?.length! > 0) {
      <div>
        کدهای وضعیت ورودی مورد انتظار:
        <ul class="expected-list">
          @for (expectIncomeValue of item.expectedIncomingHttpResponseStatuses;
          track $index) {
          <li>
            <b>{{ expectIncomeValue }}</b>
          </li>
          }
        </ul>
      </div>
      } @if (item.expectedIncomingHttpStatusRangeCode?.from) {
      <div>
        کد وضعیت ورودی از:
        <span>{{ item.expectedIncomingHttpStatusRangeCode?.from }}</span>
      </div>
      } @if (item.expectedIncomingHttpStatusRangeCode?.to) {
      <div>
        کد وضعیت ورودی تا:
        <span>{{ item.expectedIncomingHttpStatusRangeCode?.to }}</span>
      </div>
      } @if (item.outgoingHttpResponseStatus) {
      <div>
        کد وضعیت خروجی:
        <span>{{ item.outgoingHttpResponseStatus }}</span>
      </div>
      } @switch (item.type) { @case (0) { } @case (1) {
      <div>
        عملگر شرطی:
        <span>{{
          convertConditionRelationship(item.conditionRelationship!)
        }}</span>
      </div>
      <div>
        شرط‌ها:
        <ul>
          @for (condition of item.conditions; track $index) {
          <li>
            <span>ویژگی: {{ condition.property }}</span
            ><br />
            <span>مقدار: {{ condition.value }}</span
            ><br />
            <span>
              عملگر:
              {{ convertConditionOprator(condition.conditionOperator!) }}
            </span>
          </li>
          }
        </ul>
      </div>
      } @case (2) {
      <div>
        مورد انتظار: <span>{{ item.expected }}</span>
      </div>
      <div>
        ویژگی: <span>{{ item.property }}</span>
      </div>
      <div>
        مقادیر مورد انتظار:
        <ul class="expected-list">
          @for (expectValue of item.expectedValues; track $index) {
          <li>
            <b>{{ expectValue.value }}</b>
          </li>
          }
        </ul>
      </div>
      } }
    </div>
    <div class="condition-action">
      <button
        (click)="onDeleteResolverClick($index)"
        matMiniFab
        aria-label="Delete resolver"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
} } @else {
<app-add-resolver
  [conditionValue]="conditionValue"
  (addResolver)="addResolver($event)"
>
</app-add-resolver>
}
