@if(!openAddConditionDialog){
<form [formGroup]="resolverForm">
  <div class="mt-1" style="display:flex; justify-content:center; margin-bottom:8px;">
    <mat-radio-group [value]="resolverForm.get('statusMode')?.value" (change)="resolverForm.get('statusMode')?.setValue($event.value)">
      <mat-radio-button [value]="'list'">انتخاب از لیست</mat-radio-button>
      <mat-radio-button [value]="'range'" class="ml-3">انتخاب بازه</mat-radio-button>
    </mat-radio-group>
  </div>
  @if(conditionValue !== 0){
  <mat-form-field class="w-full">
    <mat-label>پیام</mat-label>
    <mat-select formControlName="templateMessageItem">
      @for (item of templateMessageList; track item) {
      <mat-option [value]="item">{{ item.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }

  <mat-form-field class="w-full">
    <mat-label>کد وضعیت ورودی مورد انتظار</mat-label>
    <mat-select
      formControlName="statusItemList"
      placeholder="وضعیت را انتخاب کنید"
      multiple
    >
      @for (item of statusList; track item) {
      <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>کد وضعیت ورودی از</mat-label>
    <mat-select
      formControlName="statusRangeFrom"
      placeholder="لطفا یک وضعیت را انتخاب کنید"
    >
      @for (item of statusList; track item) {
      <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>کد وضعیت ورودی تا</mat-label>
    <mat-select
      formControlName="statusRangeTo"
      placeholder="لطفا یک وضعیت را انتخاب کنید"
    >
      @for (item of statusList; track item) {
      <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>کد وضعیت خروجی</mat-label>
    <mat-select
      formControlName="statusItem"
      placeholder="لطفا یک وضعیت را انتخاب کنید"
    >
      @for (item of statusList; track item) {
      <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>نام وضعیت</mat-label>
    <input
      type="text"
      matInput
      formControlName="statusName"
      placeholder="نام وضعیت"
    />
    @if (resolverForm.get('statusName')?.hasError('required')) {
    <mat-error>Status name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  @if(conditionValue === 1){
  <mat-form-field class="w-full">
    <mat-label>عملگر شرطی</mat-label>
    <mat-select formControlName="conditionRelationship">
      @for (item of ConditionRelationshipTypes; track item) {
      <mat-option [value]="item.value">{{ item.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="condition-list">
    @if (conditions.length > 0) { @for (item of conditions; track $index) {
    <div class="condition-item">
      <div class="condition-info">
        <div>
          مقدار: <span> {{ item.value }}</span>
        </div>
        <div>
          نوع شرط:
          <span>{{ getConditionTypeName(item.conditionOperator) }}</span>
        </div>
        <div>
          نام ویژگی: <span>{{ item.property }}</span>
        </div>
      </div>
      <div class="condition-action">
        <button
          (click)="onDeleteConditionClick($index)"
          matMiniFab
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    } }
  </div>

  <div class="mt-2">
    <button
      matButton
      (click)="openAddConditionDialog = true"
      [disabled]="!templateMessage"
    >
      اضافه کردن شرط
    </button>
  </div>

  } @if (conditionValue === 2 && templateMessageJson) {
  <hr />
  <div class="mb-2">
    <app-select-json-tree
      [data]="templateMessageJson"
      (selectKey)="selectKey($event)"
    ></app-select-json-tree>
  </div>
  @if (selectedKey) {
  <div>
    <div>
      <mat-form-field class="w-full">
        <mat-label>مقادیر مورد انتظار</mat-label>

        <mat-chip-grid #chipGrid formArrayName="values">
          @for (keyword of valuesArray.controls; track $index) {
          <mat-chip-row (removed)="removeKeyword(keyword.value)">
            {{ keyword.value }}
            <button matChipRemove [attr.aria-label]="'remove ' + keyword.value">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>

        <input
          [matChipInputFor]="chipGrid"
          placeholder="مقدار را وارد کنید"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
    </div>

    <div>
      <p>
        <mat-slide-toggle formControlName="expected"
          >مورد انتظار</mat-slide-toggle
        >
      </p>
    </div>
  </div>
  } }
</form>

} @else{
<app-add-condition
  [visible]="openAddConditionDialog"
  (hideDialog)="openAddConditionDialog = false"
  (addCondition)="addCondition($event)"
  [templateMessageJson]="templateMessage.json"
/>
}
