<h2 mat-dialog-title>{{ data.typeAction }}</h2>
<mat-dialog-content>
  @if (data.typeAction === "StartEvent") {
  <form [formGroup]="startForm">
    <mat-form-field style="width: 100%">
      <mat-label>Company Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="companyName"
        placeholder="Company Name"
      />
      @if (startForm.get('companyName')?.hasError('required')) {
      <mat-error>Company name is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Company Description</mat-label>
      <textarea matInput formControlName="companyDescription"></textarea>
    </mat-form-field>
  </form>
  } @if (data.typeAction === "Task") {
  <form [formGroup]="apiForm">
    <mat-form-field style="width: 100%">
      <mat-label>Condition Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="conditionLabel"
        placeholder="Condition Name"
      />
      @if (apiForm.get('conditionLabel')?.hasError('required')) {
      <mat-error>Condition is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>
  }
  <p>{{ data.typeAction }} Dialog</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="startForm.invalid && apiForm.invalid" matButton (click)="onOkClick()">Ok</button>
  <button matButton mat-dialog-close>Cancel</button>
</mat-dialog-actions>
